<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">New Training</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
    <link href="../../../resources/css/core.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/theme.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/theme.css}" />
    <script src="../../../resources/js/jquery.min.js"
            th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>
    <!--autocomplete -->
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.2.js"> </script>
    <script type="text/javascript"
            src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript"
            src="${pageContext.request.contextPath}/resources/js/autoComplete.js"></script>
    <!--end -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script
            src="../../../resources/easyautocomplete/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet"
          href="../../../resources/easyautocomplete/easy-autocomplete.min.css">
    <link rel="stylesheet"
          href="../../../resources/easyautocomplete/easy-autocomplete.themes.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body style="background-image: url('../../../resources/images/hipica.jpg'); background-size: fit; background-position: center center;">
<div th:replace="fragments/layout :: header"></div>
<div class="py-1">
    <div class="container">
        <div class="col-md-12">
            <form class="form-narrow form-horizontal" method="post"
                  th:action="@{/newTraining}" th:object="${newTrainingForm}"
                  th:fragment="newTrainingForm">
               
                    <!--/* Show general error message when form contains errors */-->
                    <th:block th:if="${#fields.hasErrors('${newTrainingForm.*}')}">
                        <div th:replace="fragments/components :: alert (type='danger', message='Form contains errors. Please try again.')">
                            Alert</div>
                    </th:block>
                    <fieldset>
                        <legend style="font-size: 20px;">Register Training</legend>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('type')}? 'has-error'">
                            <label for="type" class="col-lg-3 control-label" style="font-size: 15px;">Type</label>
                            <div class="col-lg-9">
                                <select class="form-control" id="type" style="font-size: 15px;"
                                        placeholder="type" th:field="*{type}">
                                    <option
                                            th:each="type : ${T(es.udc.fic.tfg.training.TrainingType).values()}"
                                            th:value="${type}" th:text="${type}"></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('trainingdate')}? 'has-error'">
                            <label for="trainingdate" class="col-lg-3 control-label" style="font-size: 15px;">Date</label>
                            <div class="col-lg-9">
                                <input type="date" class="form-control" id="trainingdate" style="font-size: 15px;"
                                       placeholder="trainingdate" th:field="*{trainingdate}" /> <span
                                    class="help-block" th:if="${#fields.hasErrors('trainingdate')}"
                                    th:errors="*{trainingdate}">Incorrect Date</span>
                            </div>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('description')}? 'has-error'">
                            <label for="description" class="col-lg-3 control-label" style="font-size: 15px;">Description</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="description" style="font-size: 15px;"
                                       placeholder="Description" th:field="*{description}" /> <span
                                    class="help-block" th:if="${#fields.hasErrors('description')}"
                                    th:errors="*{description}">Incorrect Description</span>
                            </div>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('duration')}? 'has-error'">
                            <label for="duration" class="col-lg-3 control-label" style="font-size: 15px;">Duration</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="duration" style="font-size: 15px;"
                                       placeholder="Duration" th:field="*{duration}" /> <span
                                    class="help-block" th:if="${#fields.hasErrors('duration')}"
                                    th:errors="*{duration}">Incorrect Duration</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="traininghorse" class="col-lg-3 control-label" style="font-size: 15px;">Horse
                            </label>
                            <div class="col-lg-9">
                                <input type="text" id="traininghorse" class="form-control" style="font-size: 15px;"
                                placeholder="traininghorse" th:field="*{traininghorse}" />
                            </div>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('url')}? 'has-error'">
                            <label for="url" class="col-lg-3 control-label" style="font-size: 15px;">Video URL</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="url" style="font-size: 15px;"
                                       placeholder="url" th:field="*{url}" /> <span
                                    class="help-block" th:if="${#fields.hasErrors('url')}"
                                    th:errors="*{url}">Incorrect URL</span>
                            </div>
                        </div>
                        <div class="form-group"
                             th:classappend="${#fields.hasErrors('trainingexpense')}? 'has-error'">
                            <label for="trainingexpense" class="col-lg-3 control-label" style="font-size: 15px;">Costs? (xxx.xx)</label>
                            <div class="col-lg-9">
                                <input type="text" class="form-control" id="trainingexpense" style="font-size: 15px;"
                                       placeholder="trainingexpense" th:field="*{trainingexpense}" /> <span
                                    class="help-block" th:if="${#fields.hasErrors('trainingexpense')}"
                                    th:errors="*{trainingexpense}">Incorrect amount</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-3"></div>
                            <div class="col-lg-9">
                                <button type="submit" style="font-size: 15px;" class="btn btn-primary">Register Training</button>
                            </div>
                        </div>
                    </fieldset>
               
            </form>
        </div>
    </div>
</div>
<div th:replace="fragments/layout :: footer"></div>

<script th:inline="javascript">

    var message = [[${list}]];
    var options = {
        data: Array.from(message),
        list: {
            match: {
                enabled: true
            }
        }
    };

    $("#traininghorse").easyAutocomplete(options);

</script>

</body>
</html>