<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>User Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/css/theme.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/theme.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body style="background-image: url('../../../resources/images/hipica.jpg'); background-size: fit; background-position: center center;   -webkit-backdrop-filter: blur(6px);	">
	<div>

	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<div class="col-md-2">
			<div th:switch="${account.getProfilePic().isEmpty()}">
				<div th:case="true">
					<img class="img-fluid d-block float-right rounded-circle"
						src="../../../resources/images/icono-de-perfil-de-usuario_318-33925.jpg">
				</div>
				<div th:case="false">
					<img class="img-fluid d-block float-right rounded-circle"
						th:src="@{'data:image/jpeg;base64,'+${account.getProfilePic()}}"
						style="background-color: transparent" />
				</div>
				<div th:case="*">Never gonna be here</div>
			</div>
			<form class="form-narrow form-horizontal" method="post"
				th:action="@{/user/userDetails/changeProfilePic}"
				th:object="${profilePicForm}" th:fragment="profilePicForm"
				enctype="multipart/form-data" style="background-color: transparent;
				border: 0px solid transparent;">
				<div>
					<div>
						<input type="file" class="form-control-file" id="profilePic"
							name="profilePic" th:field="*{profilePic}" accept="image/*" />
						<div>
							<button class="btn btn-primary"
								onclick="@{/user/userDetails/changeProfilePic}">Edit
								Picture</button>
						</div>
					</div>
				</div>
			</form>
		</div>
		<div class="col-md-8">
			<form class="form-narrow form-horizontal" method="post"
				th:action="@{/user/userDetails}" th:object="${signupForm}"
				th:fragment="signupForm">
				<fieldset>
					<legend>User Details</legend>
					<div class="form-group">
						<label for="email" class="col-lg-2 control-label">Email</label>
						<div class="col-lg-10">

							<input type="text" class="form-control" id="email" name=email
								th:value="${account.email}" /> <span class="help-block"
								th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Incorrect
								email</span>
						</div>
					</div>
					<div class="form-group">
						<label for="firstName" class="col-lg-2 control-label">First
							Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="firstname"
								name=firstname th:value="${account.firstname}" /> <span
								class="help-block" th:if="${#fields.hasErrors('firstname')}"
								th:errors="*{firstname}">Incorrect first Name</span>
						</div>
					</div>
					<div class="form-group">
						<label for="lastName" class="col-lg-2 control-label">Last
							Name</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="lastname"
								name=lastname th:value="${account.lastname}" /> <span
								class="help-block" th:if="${#fields.hasErrors('lastname')}"
								th:errors="*{lastname}">Incorrect last name</span>
						</div>
					</div>
					<div class="form-group">
						<label for="phoneNumber" class="col-lg-2 control-label">Phone
							Number</label>
						<div class="col-lg-10">
							<input type="text" class="form-control" id="phonenumber"
								name=phonenumber th:value="${account.phonenumber}" /> <span
								class="help-block" th:if="${#fields.hasErrors('phonenumber')}"
								th:errors="*{phonenumber}">Incorrect phone number</span>
						</div>
					</div>
					<div class="form-group">
						<label for="isRider" class="col-lg-2 control-label">Rider</label>
						<div class="col-lg-10">
							<a type="text" class="form-control" id="rider"
								th:text="${account.rider}" />
						</div>
					</div>
					<div class="form-group">
						<div class="col-lg-2"></div>
						<div class="col-lg-9">
						<button class="btn btn-primary" onclick="@{/user/userDetails}">Edit</button>
						</div>
					</div>
				</fieldset>
			</form>
		</div>
	</div>
	</div>
</body>
<div th:replace="fragments/layout :: footer"></div>
</html>