<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Activity Details</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/css/theme.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/theme.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body
	style="background-size: fit; background-position: center center;">
	<div th:replace="fragments/layout :: header"></div>
	<div class="container">
		<div class="col-md-10">
			<form class="form-narrow form-horizontal" th:object="${activity}">
				<fieldset>
					<legend style="font-size: 20px;">Activity Details</legend>
					<div class="col-md-12">
						<div class="form-group">
							<label for="type" class="col-lg-3 control-label"
								style="font-size: 15px;">Type</label>
							<div class="col-lg-9">
								<a class="form-control" id="type" style="font-size: 15px;"
									th:text="${activity.type}" />
							</div>
						</div>
						<div class="form-group">
							<label for="activitydate" class="col-lg-3 control-label"
								style="font-size: 15px;">Date</label>
							<div class="col-lg-9">
								<a class="form-control" id="activitydate"
									style="font-size: 15px;"
									th:text="${#dates.format(activity.activitydate,'dd-MM-yyyy hh:mm')}" />
							</div>
						</div>
						<div class="form-group">
							<label for="description" class="col-lg-3 control-label"
								style="font-size: 15px;">Description</label>
							<div class="col-lg-9">
								<a class="form-control" id="description"
									style="font-size: 15px;" th:text="${activity.description}" />
							</div>
						</div>
						<div class="form-group">
							<label for="duration" class="col-lg-3 control-label"
								style="font-size: 15px;">Duration</label>
							<div class="col-lg-9">
								<a class="form-control" id="duration" style="font-size: 15px;"
									th:text="${activity.duration}" />
							</div>
						</div>
						<div class="form-group">
							<label for="activityexpense" class="col-lg-3 control-label"
								style="font-size: 15px;">Costs</label>
							<div class="col-lg-9">
								<a class="form-control" id="activityexpense"
									style="font-size: 15px;"
									th:text="${activity.activityexpense?.amount+'€'}" />
							</div>
						</div>
						<div class="form-group">
							<label for="activityuser" class="col-lg-3 control-label"
								style="font-size: 15px;">User</label>
							<div class="col-lg-9">
								<a class="form-control" id="activityuser"
									style="font-size: 15px;"
									th:text="${activity.activityuser.firstname + ' ' +activity.activityuser.lastname}" />
							</div>
						</div>

						<div class="form-group">
							<label for="activityhorse" class="col-lg-3 control-label"
								style="font-size: 15px;">Horse</label>
							<div class="col-lg-9">
								<a class="form-control" id="activityhorse"
									style="font-size: 15px;"
									th:text="${activity.activityhorse.nickname}" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-lg-3"></div>
							<div class="col-lg-9">
								<a style="font-size: 15px;" class="btn btn-danger"
								th:href="@{/activity/activityDetails/delete/} + ${activity.activityid}"> Delete Activity</a>
							</div>
						</div>
					</div>
				</fieldset>
			</form>
		</div>

	</div>
</body>
<div th:replace="fragments/layout :: footer"></div>
</html>