<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">Welcome!</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet" media="screen" th:href="@{/resources/css/bootstrap.min.css}"/>
    <link href="../../../resources/css/core.css" rel="stylesheet" media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/theme.css" rel="stylesheet" media="screen"
          th:href="@{/resources/css/theme.css}"/>
    <script src="../../../resources/js/jquery.min.js" th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js" th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body style="background-image: url('../../../resources/images/hipica.jpg');background-size:fit;background-position:center center;">
<div th:replace="fragments/layout :: header"></div>
<div class="container" style="background-color: white;">
    <br>
    <br>
    <h1 class="text-center" style="font-weight: bold;">
        Welcome to My Barn APP! </h1>
        <br>
        <h1 class="lead text-center">
        The only web application where you can manage your horse's: &nbsp; <br>
        -Trainings<br>
        -Activities and Grooming <br>
        -Expenses &nbsp; <br>
        -Horse data 
        </h1>
        <br>
        <br>
        <br>
        <h1 class="text-center">
        Welcome to the online agenda that you always needed  &nbsp; <br>
    	</h1>
</div>
</body>
<div th:replace="fragments/layout :: footer"></div>
</html>