<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Expense Details</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
    <link href="../../../resources/css/core.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/theme.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/theme.css}" />
    <script src="../../../resources/js/jquery.min.js"
            th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body style="background-image: url('../../../resources/images/hipica.jpg'); background-size: fit; background-position: center center;">
<div th:replace="fragments/layout :: header"></div>
<div class="container">
    <div class="col-md-10">
        <form class="form-narrow form-horizontal" th:object="${expense}">
         <fieldset>
             <legend>Expense Details</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="title" class="col-lg-3 control-label">Concept</label>
                            <div class="col-lg-9">
                                <a class="form-control" id="title"
                                     th:text="${expense.title}" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="amount" class="col-lg-3 control-label">Amount</label>
                            <div class="col-lg-9">
                                <a class="form-control" id="amount"
                                   th:text="${expense.amount+'€'}"  />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="expensedate" class="col-lg-3 control-label">Date</label>
                            <div class="col-lg-9">
                                <a class="form-control" id="expensedate"
                                   th:text="${#dates.format(expense.expensedate,'dd-MM-yyyy')}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="consumer" class="col-lg-3 control-label">Consumer</label>
                            <div class="col-lg-9">
                                <a class="form-control" id="consumer"
                                   th:text="${expense.consumer.firstname + ' ' +expense.consumer.lastname}"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="horseexpense" class="col-lg-3 control-label">Horse Expenser</label>
                            <div class="col-lg-9">
                                <a class="form-control" id="horseexpense"
                                   th:text="${expense.horseexpense.nickname}"/>
                            </div>
                        </div>

                        <button class="btn btn-danger">Delete Expense</button>
                    </div>
         </fieldset>
        </form>
    </div>

</div>
</body>
<div th:replace="fragments/layout :: footer"></div>
</html>