<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{view.index.title}">My Expenses</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
    <link href="../../../resources/css/core.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/core.css}" />
    <link href="../../../resources/css/theme.css" rel="stylesheet"
          media="screen" th:href="@{/resources/css/theme.css}" />
    <script src="../../../resources/js/jquery.min.js"
            th:src="@{/resources/js/jquery.min.js}"></script>
    <script src="../../../resources/js/bootstrap.min.js"
            th:src="@{/resources/js/bootstrap.min.js}"></script>
    <!--autocomplete -->
    <script type="text/javascript"
            src="http://code.jquery.com/jquery-1.10.2.js"> </script>
    <script type="text/javascript"
            src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"> </script>
    <link rel="stylesheet"
          href="http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css" />
    <script type="text/javascript"
            src="${pageContext.request.contextPath}/resources/js/autoComplete.js"></script>
    <!--end -->
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
    <script
            src="../../../resources/easyautocomplete/jquery.easy-autocomplete.min.js"></script>
    <link rel="stylesheet"
          href="../../../resources/easyautocomplete/easy-autocomplete.min.css">
    <link rel="stylesheet"
          href="../../../resources/easyautocomplete/easy-autocomplete.themes.min.css">

    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
</head>
<body style="background-image: url('../../../resources/images/hipica.jpg'); background-size: fit; background-position: center center;">
<div th:replace="fragments/layout :: header"></div>
<div class="container" style="width: 65%; background-color: white; margin-left: 225px; margin-bottom: 30px;">
<form class="form-horizontal" style="margin-top: 2%;" method="post"
      th:action="@{/myExpenses}" th:object="${myExpensesForm}"
      th:fragment="myExpensesForm">
    <div class="form-group">
        <label for="horsename" class="col-lg-3 control-label" style="font-size: 15px;" >Horse</label>
        <div class="col-lg-6">
            <input id="horsename" style="font-size: 15px;" class="form-control" placeholder="horsename" th:field="*{horsename}"/>
        </div>
        <div class="col-lg-3">
            <button type="submit" style="align-self: right; font-size: 15px;" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>
</div>
<div class="py-1">
    <div class="table">
    <table class="table" style="width:65%; margin-left:225px; font-size: 15px;">
        <thead>
        <tr style="font-weight: bold;">
            <th>Date</th>
            <th>Concept</th>
            <th>Horse</th>
            <th>Amount</th>
            <th>Details</th>
        </tr>
        </thead>
        <tbody th:each="expense : ${expenses}">
            <td th:text="${#dates.format(expense.expensedate,'dd-MM-yyyy hh:mm')}"></td>
            <td th:text="${expense.title}"></td>
            <td th:text="${expense.horseexpense.nickname}"></td>
            <td th:text="${expense.amount+'€'}"></td>
            <td><a th:href="@{/expense/expenseDetails/} + ${expense.expenseid}" role="button" class="btn btn-xs btn-info">
            <i class="fa fa-edit"></i></a></td>
        </tbody>
    </table>
    </div>
    <div th:if="${expenses.getContent().size()>0}">
        <div class="row center pd-bottom-1" style="margin-left: 500px">
            <div class="col-md-12 text-center">
                <ul class="pagination">
                    <li th:class="${expenses.number eq 0} ? 'disabled' : ''"><a
                            th:if="${not expenses.isFirst()}"
                            th:onclick="|pageChange('${expenses.number-1}')|">Previous</a> <a
                            th:if="${expenses.isFirst()}" href="javascript:void(0);">Previous</a>
                    </li>


                    <li th:if="${expenses.getTotalPages() != 0}"
                        th:each="pageNo : ${#numbers.sequence(0, expenses.totalPages - 1)}"
                        th:class="${expenses.number eq pageNo}? 'active' : ''"><a
                            th:if="${expenses.number  eq pageNo}" href="javascript:void(0);">
                        <span th:text="${pageNo + 1}"></span>
                    </a> <a th:if="${not (expenses.number  eq pageNo)}"
                            th:onclick="|pageChange('${pageNo}')|"> <span
                            th:text="${pageNo + 1}"></span>
                    </a></li>
                    <li
                            th:class="${expenses.number + 1 ge expenses.totalPages} ? 'disabled' : ''">
                        <a th:if="${not expenses.isLast()}"
                           th:onclick="|pageChange('${expenses.number+1}')|">Next</a> <a
                            th:if="${expenses.isLast()}" href="javascript:void(0);">Next</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function pageChange(page) {
        window.location.href = "/myExpenses/" + page.toString();
    }
</script>
<script th:inline="javascript">

    var message = [[${list}]];
    var options = {
        data: Array.from(message),
        list: {
            match: {
                enabled: true
            }
        }
    };

    $("#horsename").easyAutocomplete(options);

</script>

<div th:replace="fragments/layout :: footer"></div>
</body>
</html>