<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="#{view.index.title}">Ridden Horses</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../../../resources/css/bootstrap.min.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/bootstrap.min.css}" />
<link href="../../../resources/css/core.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/core.css}" />
<link href="../../../resources/css/theme.css" rel="stylesheet"
	media="screen" th:href="@{/resources/css/theme.css}" />
<script src="../../../resources/js/jquery.min.js"
	th:src="@{/resources/js/jquery.min.js}"></script>
<script src="../../../resources/js/bootstrap.min.js"
	th:src="@{/resources/js/bootstrap.min.js}"></script>
</head>
<body
	style="background-image: url('../../../resources/images/hipica.jpg'); background-size: fit; background-position: center center;">
	<div th:replace="fragments/layout :: header"></div>

	<div class="py-5">
		<div class="container" th:each="horse : ${horses}">
			<div class="row">
				<div class="col-md-12">
					<div class="row">
						<div class="col-md-2" style="background-color: transparent">
							<div th:switch="${horse.getProfilePic().isEmpty()}">
								<div th:case="true">
									<img class="img-fluid d-block float-right rounded-circle"
										src="../../../resources/images/noun_765845_cc.png">
								</div>
								<div th:case="false">
									<img class="img-fluid d-block float-right rounded-circle"
										th:src="@{'data:image/jpeg;base64,'+${horse.getProfilePic()}}" />
								</div>
								<div th:case="*">Never gonna be here</div>
							</div>
						</div>
				
				<div class="col-md-5">
					<div class="list-group">
						<a th:href="@{/horse/horseDetails/} + ${horse.horseId}"
							class="list-group-item list-group-item-action flex-column align-items-start active my-3"
							style="">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1" th:text="${horse.nickname}"></h5>
							</div>
							<p class="mb-1" th:text="${horse.name}"></p> <small
							th:text="${horse.breed}"></small>&nbsp;<small
							th:text="${horse.gender}"></small>&nbsp;<small
							th:text="${#dates.format(horse.birthdate,'dd-MM-yyyy')}"></small>
						</a>
					</div>
				</div>
						<div class="col-md-2">
							<div style="padding-top: 25px">
							<a class="button btn btn-primary" th:href="@{/newActivity}"> Register Activity</a>
								<br><br>
							<a class="button btn btn-primary" th:href="@{/newTraining}"> Register Training</a>
							</div>
						</div>
			</div>
		</div>
	</div>
	</div>
	</div>
	<div th:if="${horses.getContent().size()>0}">

		<div class="row center pd-bottom-1" style="margin-left: 500px">
			<div class="col-md-12 text-center">
				<ul class="pagination">
					<li th:class="${horses.number eq 0} ? 'disabled' : ''"><a
						th:if="${not horses.isFirst()}"
						th:onclick="|pageChange('${horses.number-1}')|">Previous</a> <a
						th:if="${horses.isFirst()}" href="javascript:void(0);">Previous</a>
					</li>


					<li th:if="${horses.getTotalPages() != 0}"
						th:each="pageNo : ${#numbers.sequence(0, horses.totalPages - 1)}"
						th:class="${horses.number eq pageNo}? 'active' : ''"><a
						th:if="${horses.number  eq pageNo}" href="javascript:void(0);">
							<span th:text="${pageNo + 1}"></span>
					</a> <a th:if="${not (horses.number  eq pageNo)}"
						th:onclick="|pageChange('${pageNo}')|"> <span
							th:text="${pageNo + 1}"></span>
					</a></li>
					<li
						th:class="${horses.number + 1 ge horses.totalPages} ? 'disabled' : ''">
						<a th:if="${not horses.isLast()}"
						th:onclick="|pageChange('${horses.number+1}')|">Next</a> <a
						th:if="${horses.isLast()}" href="javascript:void(0);">Next</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	</div>
	<script type="text/javascript">
		function pageChange(page) {
			window.location.href = "/riddenHorses/" + page.toString();
		}
	</script>
	<div th:replace="fragments/layout :: footer"></div>
</body>
</html>